[submodule "rkst-admin"]
	path = rkst-admin
	url = https://github.com/kundusaikat/rkst-admin.git
[submodule "rkst-customer"]
	path = rkst-customer
	url = https://github.com/kundusaikat/rkst-customer.git
[submodule "rkst-api"]
	path = rkst-api
	url = https://github.com/kundusaikat/rkst-api.git
